.contact-list{
  display:table;
  li{
    display: table-row;
    margin:5px;
    > *{
      display: table-cell;
      padding:5px;
      margin-bottom: 10px;
    }
    span{
      max-width: 300px;
      overflow: hidden;
    }
  }
}
